body{
	padding:100px;
	background-color:#252525;
}

h1 {
    background-color: RGB(249, 201, 16); 
   }
   p {
    background-color: rgb(17, 71, 209); 
    color: rgb(240, 240, 240); 
   }
#main-image{
width: 500px;
height: auto;
border:solid;
border-radius:30px;
}
