body{
	padding:100px;
	background-color:#3366CC;
}

h1 {
    background-color: RGB(249, 201, 16); 
   }
   p {
    background-color: rgb(250, 250, 250); 
    color: rgb(24, 24, 24); 
   }
#main-image{
width: 500px;
height: auto;
border:solid;
border-radius:30px;
}
